Fed Interest Rate Decision

Federal Open Market Committee (FOMC) members vote on where to set the rate.

Data is manually fetched from Investing.com:
https://www.investing.com/economic-calendar/interest-rate-decision-168

In [2]:
import pandas as pd

# Read the Excel file into a DataFrame
df = pd.read_csv('fomc-data.csv')

# Display the first few rows
print(df.head())

  Release Date      Time  Actual Forecast  Previous Decision
0   1998-10-15  13:00:00    5.00      NaN      5.25   -0.25%
1   1998-11-17  13:00:00    4.75      NaN      5.00   -0.25%
2   1999-06-30  13:00:00    5.00      NaN      4.75   +0.25%
3   1999-08-24  13:00:00    5.25      NaN      5.00   +0.25%
4   1999-11-16  13:00:00    5.50      NaN      5.25   +0.25%

The "Release Date" column is in the format "Month Day, Year" (e.g., "Dec 18, 2024"). I convert it to the "YYYY-MM-DD" format.

In [4]:
# Convert the 'Release Date' column to the desired format
df['Release Date'] = pd.to_datetime(df['Release Date']).dt.strftime('%Y-%m-%d')

# Verify the changes
df.head()

  Release Date      Time  Actual Forecast  Previous Decision
0   1998-10-15  13:00:00    5.00      NaN      5.25   -0.25%
1   1998-11-17  13:00:00    4.75      NaN      5.00   -0.25%
2   1999-06-30  13:00:00    5.00      NaN      4.75   +0.25%
3   1999-08-24  13:00:00    5.25      NaN      5.00   +0.25%
4   1999-11-16  13:00:00    5.50      NaN      5.25   +0.25%

In [10]:
# Convert 'Actual' and 'Previous' columns to numeric values for subtraction
df['Actual'] = (
    df['Actual'].astype(str)  # Convert all values to strings
    .str.rstrip('%')          # Remove the '%' sign
    .replace('', '0')         # Replace empty strings with '0'
    .astype(float)            # Convert to float
)

df['Previous'] = (
    df['Previous'].astype(str) 
    .str.rstrip('%')
    .replace('', '0')
    .astype(float)
)

# Calculate the 'Decision' column
df['Decision'] = (df['Actual'] - df['Previous']).fillna(0)

# Format the 'Decision' column as percentage with sign
df['Decision'] = df['Decision'].apply(lambda x: f"{x:+.2f}%")

# Verify the changes
df.head()

  Release Date      Time  Actual Forecast  Previous Decision
0   1998-10-15  13:00:00    5.00      NaN      5.25   -0.25%
1   1998-11-17  13:00:00    4.75      NaN      5.00   -0.25%
2   1999-06-30  13:00:00    5.00      NaN      4.75   +0.25%
3   1999-08-24  13:00:00    5.25      NaN      5.00   +0.25%
4   1999-11-16  13:00:00    5.50      NaN      5.25   +0.25%

In [12]:
# Set "Release Date" as the index
df.set_index('Release Date', inplace=True)

# Sort the data by the index (Release Date) in ascending order
df.sort_index(inplace=True)

# Display the sorted DataFrame
print(df)

                  Time  Actual Forecast  Previous Decision
Release Date
1998-10-15    13:00:00    5.00      NaN      5.25   -0.25%
1998-11-17    13:00:00    4.75      NaN      5.00   -0.25%
1999-06-30    13:00:00    5.00      NaN      4.75   +0.25%
1999-08-24    13:00:00    5.25      NaN      5.00   +0.25%
1999-11-16    13:00:00    5.50      NaN      5.25   +0.25%
...                ...     ...      ...       ...      ...
2024-06-12    13:00:00    5.50    5.50%      5.50   +0.00%
2024-07-31    13:00:00    5.50    5.50%      5.50   +0.00%
2024-09-18    13:00:00    5.00    5.25%      5.50   -0.50%
2024-11-07    14:00:00    4.75    4.75%      5.00   -0.25%
2024-12-18    14:00:00     NaN      NaN      4.75   +0.00%

[180 rows x 5 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, 1998-10-15 to 2024-12-18
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Time      180 non-null    object
 1   Actual    179 non-null    float64
 2   Forecast  132 non-null    object
 3   Previous  180 non-null    float64
 4   Decision  180 non-null    object
dtypes: float64(2), object(3)
memory usage: 8.4+ KB

In [16]:
# Save to CSV
df.to_csv('FOMC-date-decision-data.csv')
print("Data saved to FOMC-date-decision-data.csv")

Data saved to FOMC-date-decision-data.csv

In [18]:
# End of the script